<ul data-role="listview" class="ui-gridview" name="entryList" data-split-theme="a" data-inset="true" >
    {{~it :value:index}}
    <li>
        <a href="#entry/{{=value.Href}}" data-entry-href="{{=value.Href}}" name="entryDetailLink" >
            <img class="ui-li-thumb" src="{{? value.Properties.length > 1 && value.Properties[1].Value}}{{=value.Properties[1].Value}}{{??}}img/thumbnail-placeholder.png{{?}}" alt="{{! value.Title}}" />
            <h2>{{! value.Title}}</h2>
        </a>
    </li>
    {{~}}
</ul>