<?xml version='1.0' encoding='utf-8'?>
<widget id="com.episerver.techdaydemo" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EPiTechDay</name>
    <description>
        
    </description>
    <author email="contact@episerver.com" href="http://episerver.com">
        
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
